/.github/
/.husky/
/docs/
/src/
/.eslintignore
/.eslintrc.cjs
/.gitignore
/.prettierignore
/.prettierrc.cjs
/babel.config.cjs
/commitlint.config.cjs
/gpl-header.txt
/jest.config.cjs
/tsconfig.eslint.json
/tsconfig.json
/typedoc.json
